<div class="row">
  <div class="col-md-9">
    <nb-card>
      <nb-card-header>New SSP Endpoint</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputUserName" class="col-sm-3 col-form-label">User Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputUserName" placeholder="User Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCheckNotifications" class="col-sm-3 col-form-label">Notifications</label>
            <div class="col-sm-9">
              <nb-checkbox>Storage reports</nb-checkbox>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputOldPassword" class="col-sm-3 col-form-label">Old Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputOldPassword" placeholder="New Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputNewPassword" class="col-sm-3 col-form-label">New Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputNewPassword" placeholder="Old Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="button" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
